@page "/about"

<PageTitle>About</PageTitle>

<h>Work in progress</h>
<h2>We're currently working on this page, check back later.</h2>

<h>About Us </h>    
<h2>We are an instrument store</h2>

@code {

}
