@page "/category"
@using BlazorApp.Pages;
@using BlazorApp.Data;
@using BlazorApp.Model;
 
<h3>Test Page</h3>
 
<div class="cat-page">
 
    <EditForm Model="tag">
<InputCheckbox @bind-Value="tag.Value"></InputCheckbox>
</EditForm>
</div>
 
@code {
 
    public ToggleButton tag { get; set; } = new ToggleButton();
 
    public class ToggleButton
    {
        public bool Value { get; set; }
    }
}