@inherits LayoutComponentBase

<PageTitle>BlazorApp</PageTitle>

<div class="page">

    <main>
        <div class="top-row px-4 d-flex align-items-center justify-content-between">
            <div class="logo">
                <!-- Placeholder for your logo -->
                Logo
            </div>

            <form class="align-items-center">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>

            <div class="d-flex align-items-center">
                <div class="nav-options d-flex align-items-center justify-content-between">
                    <a href="#">Add Listing</a>
                    <a href="#">Message</a>
                    <a href="login">Log Ind</a>
                </div>

            </div>
        </div>
        
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
